@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body{
    min-height: 100vh;
    background: rgb(163,225,255);
    background: -moz-linear-gradient(180deg, rgba(163,225,255,1) 0%, rgba(45,153,205,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(163,225,255,1) 0%, rgba(45,153,205,1) 100%);
    background: linear-gradient(180deg, rgba(163,225,255,1) 0%, rgba(45,153,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3e1ff",endColorstr="#2d99cd",GradientType=1);
}

.container{
    padding: 3px;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.section{
    margin: 0px auto;
    max-width: 650px;
}

@media only screen and (max-width: 600px) {
    .section{
        margin: 0px auto;
        max-width: 800px;
    }
}

.w120p{
    width: 120px;
}

.page{
    width: 100%;
    margin: 0px auto;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
    -moz-box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
    box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
    pointer-events: none;
}

.book_index{
    width: 100%;
    margin: 0px auto;
    background-color: #fffde7;
    padding: 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
    -moz-box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
    box-shadow: 5px 5px 15px 2px rgba(38,108,140,1);
}

.book_index a{
    font-family: 'Bree Serif', serif;
    padding-left: 1em;
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.book_index a.level_1{
    color: #444;
    background-color: #fff9c4;
}
.book_index a.level_2{
    padding-left: 2em;
    color: #4e342e;
}

.book_index a.level_3{
    padding-left: 3em;
    color: #5d4037;
}

.book_index a.active{
    background-color: red;
}

.level_1 .index_title { font-size: 1.1em; }
.level_3 .index_title { font-size: 0.9em; }

.book_index a:hover{
    background-color: #ffee58;
}

.book_index a .num_page{
    width: 2.5em;
    height: 1.8em;
    float: right;
    text-align: center;
    color: white;
    background-color: #f57f17;
    line-height: 2em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 2px;
}

a.page_mini {
    display: block-inline;
}

a.page_mini img{
    margin: 0 5px 5px 0;
    border: 1px solid #DDD;
}

a.page_mini img:hover{ border-color: #FFF;}

.btn-arrows{
    background-color: #fdd922;
}

@media only screen and (max-width: 600px) {
    .hidden-sm{ display: none; }
}