@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
	color: #666;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
}

.header{
	color: white;
	background-color: #1C95D1;
	display: grid;
	justify-items: center;
}

.header-content{
	padding: 0.5em 1em;
	max-width: 1140px;
	width: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: 160px auto 76px 76px 152px;
	grid-template-areas:
		"lg sf tc wa tu";
	align-items: center;
}

.header-logo{
	grid-area: lg;
}

.search-form{
	grid-area: sf;
}

.tools-cart{
	grid-area: tc;
}

.tools-user{
	color: white;
	grid-area: tu;
}

.tools-whatsapp{
	grid-area: wa;
}

.search-form{
	grid-area: sf;
}

.btn-navbar{
	grid-area: nt;
	font-size: 1.5em;
	background-color: transparent;
	border: 1px solid;
	border-color: rgb(255,255,255,0.5);
	border-radius: 0.25rem;
	height: 38px;
	color: white;
}

#search-input{
	border: 1px solid white;
}

.main-container{
	padding-top: 10px;
	margin-top: 96px;
	background-color: white;
	height: calc(100vh - 200px);
}

.footer{
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	color: white;
	background-color: #1c242f;
}

/* NavBar */
/*-----------------------------------------------------------------------------*/
.navbar{
	margin-top: 53px;
	background-color: #41ade2;
	padding: 0px 1em;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(255,255,255);
}

.navbar-dark .navbar-toggler {
	color: rgba(255,255,255);
	border-color: rgba(255,255,255, 0.5);
}

/* Botones */
/*-----------------------------------------------------------------------------*/

.btn-warning{
	background-color: #FDD922;
}

.btn-wa {
	color: white;
	background-color: #01e675;
	border-radius: 50%;
	height: 38px;
	text-align: center;
}

.btn-wa:hover {
	color: white;
	background-color: #13f385;
}

.btn-cart{
	color: white;
	background-color: transparent;
	width: 100%;
	height: 38px;
}

.btn-cart:hover{
	background-color:#41ade2;
	color: white;
}

/* TEXTOS */
/*-----------------------------------------------------------------------------*/

.product-price{
	color:#41ade2;
	font-size: 1.5em;
	font-weight: bold;
}

.catalog-price{
	color:#41ade2;
	font-size: 1.2em;
	font-weight: bold;
}

.order_qty_items{
	display: inline-block;
	padding: 0.1em 0.5em;
	border-radius: 50%;
	font-size: 0.6em;
	color: white;
	background-color: #DC3545;
	position: absolute;
	top: 5px;
	margin-left: 0px;
}

/* Tienda */
/*-----------------------------------------------------------------------------*/

.catalog{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
}

.catalog a.product-name{
	color: #3E405F;
	text-decoration: none;
}